.top__content {
    .about {
        text-align: center;

        &__top-img {
            margin-bottom: 80px;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        &__text {
            margin-bottom: 120px;

            h2 {
                font-size: 4.8rem;
                font-weight: 600;
                color: #D2AA00;
                margin-bottom: 40px;
                line-height: normal;
            }

            P {
                font-size: 2.0rem;
                line-height: 1.8em;
            }
        }

        .parallax {
            position: relative;
            @include background-image("top-about-img-2.jpg");
            background-size: cover;
            height: 0%;
            padding-top: unquote("min(100vh,55%)");
        }

        &__message {
            position: relative;
            padding-top: 30vw;
            @include background-image("top-about-img-3.jpg");
            background-size: cover;
            height: 100vh;

            .message-outer {
                width: min(90%, 1100px);
                height: 100%;
                margin: -23vw auto 0;
                position: relative;

                p {
                    position: absolute;
                    top: 0vw;
                    right: 0;
                    font-size: clamp(1.4rem, 2.5vw, 2.0rem);
                    line-height: 2.6em;
                    z-index: 2;
                    text-align: left;
                }
            }

            .about-message {
                position: absolute;
                left: 10vw;
                bottom: 26%;
                max-width: 60%;
            }
        }

        &__linkbox {
            display: flex;
            flex-wrap: wrap;

            .link-item {
                position: relative;
                height: 426px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;

                &::before {
                    content: "";
                    opacity: 0.7;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                }

                .En {
                    font-size: clamp(4.8rem, 6.4vw, 30rem);
                    opacity: 0.4;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    color: #fff;
                    line-height: 0.82;
                }

                .inner {
                    position: relative;
                    z-index: 1;
                    color: #fff;

                    p {
                        font-size: 2.4rem;
                        margin-bottom: 16px;
                        line-height: 1.6em;
                        font-weight: normal;

                        small {
                            font-size: 80%;
                        }
                    }

                    .arrow-icon {
                        img {
                            transition: all 0.5s 0s ease;
                            position: relative;

                        }
                    }
                }

                &:hover {
                    .arrow-icon {
                        img {
                            transform: translateX(20px);
                        }
                    }
                }
            }

            .link-item-1 {
                @include background-image("top-link_bg-1.jpg");
                width: 50%;

                &::before {
                    background-color: #002B7F;
                }
            }

            .link-item-2 {
                @include background-image("top-link_bg-2.jpg");
                width: 50%;

                &::before {
                    background-color: #87B209;
                }
            }

            .link-item-3 {
                @include background-image("top-link_bg-3.jpg");
                width: 100%;

                &::before {
                    background-color: #E4BB25;
                }
            }
        }
    }

    .private-room {
        padding: 180px 0;
        @include background-image("sand-bg.jpg");
        background-attachment: fixed;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            @include background-image("golf-field-bg.png");
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
            background-attachment: fixed;
        }

        &__outer {
            &__body {
                position: relative;
                z-index: 1;

                &__imgbox {
                    justify-content: center;
                    gap: 10px 20px;
                    display: flex;
                    margin-bottom: 80px;
                }

                &__textbox {
                    text-align: center;
                    margin-bottom: 64px;

                    h3 {
                        margin-bottom: 56px;
                    }

                    h4 {
                        font-size: 4.8rem;
                        margin-bottom: 48px;
                        color: #1B5200;
                        line-height: 1.8;

                        span {
                            display: block;
                            font-size: 2.4rem;
                            color: #000;
                        }
                    }

                    p {
                        text-align: left;
                        font-size: 1.6rem;
                        max-width: 560px;
                        margin: 0 auto;

                    }
                }

                .private-room-large-img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}
